@font-face {
  font-family: "Raleway Regular";
  src: url("../font/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../font/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway ExtraBold";
  src: url("../font/Raleway-ExtraBold.ttf") format("truetype");
}

body {
  width: 100%;
  margin: 0;
}

* {
  font-family: "Raleway Regular";
}

.container {
  width: 80%;
  margin: auto;
}

/* header */

.responsive-header {
  display: none;
}

.desktop {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.nav-header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.nav-header li {
  margin-right: 30px;
  text-align: center;
}

.nav-header a {
  color: black;
  font-family: "Raleway Bold";
  text-decoration: none;
  font-size: 1em;
  padding: 20px 15px 0;
}
.nav-header .subscribe {
  color: #0065fc;
  font-family: "Raleway Bold";
}

.nav-header a:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

/* recherche et filtre */

.recherche-filtre {
  margin-bottom: 35px;
}

.intro h1 {
  font-size: 1em;
  font-family: "Raleway ExtraBold";
}

.intro p {
  font-size: 0.7em;
}

.recherche {
  display: flex;
}

.recherche .fas {
  padding: 10px;
  background-color: #f2f2f2;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input {
  font-family: "Raleway Bold";
}

.recherche .search-button {
  background-color: #0065fc;
  border: none;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.search-button .search-button-text {
  color: #fff;
  font-family: "Raleway Bold";
}

.search-button .search-button-icon {
  display: none;
}

.recherche .search {
  border: 1px solid #f2f2f2;
  height: 40px;
  width: 150px;
}

.filtres,
.bloc-filtre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filtre {
  margin: 20px 30px 0 0;
  border: 2px solid #e6e6e6;
  border-radius: 50px;
  position: relative;
  padding: 8px;
  cursor: pointer;
}

.filtre-titre {
  margin-right: 40px;
  margin: 30px 20px 0 0;
}

.filtre-titre span {
  font-family: "Raleway Bold";
  font-size: 0.7em;
}

.filtre span {
  font-family: "Raleway Bold";
  font-size: 0.7em;
  padding: 10px;
  margin-left: 30px;
}

.filtre .fas {
  color: #0065fc;
  background-color: #deebff;
  border: 2px solid #deebff;
  border-radius: 50%;
  width: 20px;
  padding: 10px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -2px;
  top: -2px;
}

.filtre:hover {
  background-color: #deebff;
  border-color: #deebff;
}

.filtre:hover span {
  color: #0065fc;
}

.info .fas {
  color: #0065fc;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  padding: 5px 8px;
  margin-right: 20px;
  font-size: 10px;
}

.info span {
  font-size: 0.7em;
  font-weight: 500;
}

.info {
  margin-top: 20px;
}

/* hébergements */

#hebergements {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  font-size: 1em;
  width: 100%;
  padding: 10px 20px 0;
  display: flex;
  justify-content: space-between;
}

#hebergements .vignette-clic {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.img-choix {
  width: 99%;
  height: 60%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.choix {
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 20px;
  box-shadow: 1px 2px 10px 5px #cfcfcf;
  line-height: 3px;
  height: 27%;
  width: 26%;
}

.choix h4 {
  font-size: 0.7em;
  font-family: "Raleway Bold";
  margin-left: 8px;
}

.choix p {
  font-size: 0.6em;
  margin-left: 8px;
}

.choix .etoiles {
  margin: 0 8px 10px;
}

.etoiles .fas {
  font-size: 15px;
  color: #0065fc;
}

.etoiles .gris .fas {
  color: #e6e6e6;
}

.liste-hebergement {
  background-color: #f2f2f2;
  width: 70%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.plus {
  font-size: 0.7em;
  width: 100%;
  font-family: "Raleway Bold";
  padding: 0 20px;
}

.populaires {
  background-color: #f2f2f2;
  width: 28%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pop .vignette-clic {
  display: flex;
}

.img-pop {
  width: 40%;
  height: 99%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pop {
  width: 80%;
  height: 19%;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 20px;
  box-shadow: 1px 2px 10px 5px #cfcfcf;
  line-height: 0.7em;
}

.pop div {
  padding-top: 10px;
}

.pop h4 {
  font-size: 0.7em;
  font-family: "Raleway Bold";
  margin: 0 10px;
}

.pop p {
  font-size: 0.6em;
  margin-left: 10px;
}

.pop .etoiles {
  margin: 15px 10px 0;
}

/* activites */

#activites {
  width: 100%;
  margin: 50px 0;
}

#activites h2 {
  padding: 10px 0 0 10px;
}

.activite-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 470px;
}

.vignette-clic {
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 1px 1px 15px 0px #cfcfcf;
}

.big {
  width: 23%;
  height: 100%;
  margin: 10px;
}

.small {
  width: 23%;
  height: 45%;
  margin: 10px;
}

.vignette-clic .card {
  width: 100%;
  height: 100%;
}

.big .img-activite {
  width: 100%;
  height: 90%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.small .img-activite {
  width: 100%;
  height: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

#activites h4 {
  margin: 0;
  font-size: 0.6em;
  padding: 10px;
  color: #000;
  font-family: "Raleway Bold";
}

/* footer */

footer {
  background-color: #f2f2f2;
}

footer .container {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  font-size: 0.7em;
  margin: 10px;
  margin-left: 0;
}

footer h3 {
  font-size: 1em;
  font-family: "Raleway Bold";
}

.footer-liste {
  margin-right: 100px;
}
