@media screen and (max-width: 1165px) {
  .container {
    width: 95%;
  }

  #hebergements {
    display: flex;
    flex-direction: column-reverse;
  }
  .liste-hebergement,
  .populaires {
    width: 100%;
  }
  .liste-hebergement {
    height: 560px;
    margin-top: 50px;
  }
  .choix {
    width: 30%;
    height: 35%;
  }
  .populaires {
    height: 260px;
  }
  .pop {
    width: 30%;
    height: 45%;
  }
  .etoiles .fas {
    font-size: 12px;
  }

  h2 .fas {
    padding-right: 40px;
  }
}
@media screen and (max-width: 780px) {
  header {
    height: 190px;
    grid-template-areas:
      "logo subscribe"
      "nav-bar nav-bar";
    grid-template-columns: 1fr 1fr;
  }
  .nav-header ul {
    padding: 0;
    width: 100%;
  }
  .nav-header li {
    text-align: center;
    padding-bottom: 20px;
    width: 50%;
    margin: 0;
  }
  .nav-header li:hover {
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
  }
  .nav-header a {
    padding: 0;
  }
  .nav-header a:hover {
    border-top: none;
  }
  .subscribe {
    text-align: end;
  }

  .liste-hebergement {
    height: 900px;
  }
  .choix {
    width: 40%;
    height: 25%;
  }
  .populaires {
    height: 550px;
  }
  .pop {
    width: 90%;
    height: 24%;
  }

  .activite-card {
    flex-direction: row;
  }
  .big,
  .small {
    width: 45%;
    height: 27%;
  }
  .big .img-activite,
  .small .img-activite {
    height: 70%;
  }
}
@media screen and (max-width: 580px) {
  footer .container {
    display: block;
    padding: 20px 0;
  }
}
@media screen and (max-width: 450px) {
  .liste-hebergement {
    height: 1500px;
  }
  .choix {
    width: 90%;
    height: 13%;
  }

  .activite-card {
    height: 1100px;
  }
  .big,
  .small {
    width: 90%;
    height: 15%;
  }

  .search-button .search-button-text {
    display: none;
  }
  .search-button .search-button-icon {
    display: block;
    color: #fff;
    padding: 5px;
    background-color: transparent;
  }
}
